@font-face {
    font-family: 'shabnam';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/Shabnam-FD.ttf') format('ttf'); 
    src: url('../assets/font/Shabnam-FD.woff') format('woff');
  }